

body
{
color: white;
font-family: Roboto, Arial, sans-serif;	
}

.grid-container {
	grid-column: 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin: 5px;
 text-align: left;
}

.flexible-container {
	justify-content: center;
  display: flex;
  flex-direction: center;
  position: relative;
  height: 250px;
  align-items: center;
 text-align: center;
  background-image: url("learn.jpg");
  background-size: cover;
}

fieldset{
 background-color:rgb(214, 234, 248);

}

legend{
	padding: 10px;
	background-color:#1c87c9;
}

label{
	color: black;
}

input{
padding: 5px;
width: 100%;
border-radius: 8px;
outline: none;
}

input:focus {
 border-style: solid;
 border-width: 2px;
 border-color:#43D1AF;}

textarea{
padding: 5px;
width: 100%;
border-radius: 8px;
outline: none;
}

textarea:focus {
 border-style: solid;
 border-width: 2px;
 border-color:#43D1AF;

}
button {
  background-color: #1abc9c;
  border: none;
  font-size: : 16px;
  color: white;
  width: 150px;
  border-radius: 5px;
}

